body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

p{
    color: black;
    font-weight: bold;
    font-family: Tahoma;
    text-align: center;
    font-size: 20px;
}